<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        
        footer{
            background-color: rgb(21, 21, 21);
            color: white;
            
        }
        footer h1{
            padding: 2rem;
        }
        .SocialLink i{
            color: white;
            padding-left: 0.5rem;
            font-size: 1.3rem;

        }
        .SocialLink i:hover{
            opacity: 0.5;
            cursor: pointer;
        }
        .footerList li:hover{
            opacity: 0.5;
            cursor: pointer;

        }
        .listHead{
            font-size: 20px;

        }
        #LastBar{
            background-color:white;
            height: 30px;

            color: black;
            justify-content: center;
            text-align: center;
        }
        #LastBar h4{
            display: inline-block;
            font-weight: bold;
        }
        
    </style>
</head>

<body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>For better experience,download the Zaika Zunction app now...</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <h4>@ 2024 Zaika<br> Zunction Limited</h4>
                    <ul class="footerList">
                    <li class="listHead"><b>Legal</b></li>
                        <li>Term</li>
                        <li>Conditions</li>
                        <li>Cookie Policy</li>
                        <li>Privacy Policy</li>
                        <li>Investoer Relations</li>
                    </ul>
                </div>

                <div class="col-3">
                    <ul class="footerList">
                        <li class="listHead"><b>Company</b></li>
                        <li>About Us</li>
                        <li>Zaika Corporate</li>
                        <li>Careers</li>
                        <li>Teams</li>
                        <li>Zaika One</li>
                        <li>Zaika Discount</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footerList">
                        <li class="listHead"><b>Contact us</b></li>
                        <li>Help</li>
                        <li>Support</li>
                        <li>Partner with us</li>
                        <li>Zaika Blog</li>
                        <li>Ride With us</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="footerList">
                        <li class="listHead"><b>Available in: </b></li>
                        <li>Bangalore</li>
                        <li>Gurugram</li>
                        <li>Bhopal</li>
                        <li>Noida</li>
                        <li>Ajmer</li>
                    </ul>
                    <div class="SocialLink">
                        <h4>Social Links :</h4>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                        <i class="fa-solid fa-phone-volume"></i>
                        <i class="fa-brands fa-google"></i>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
</body>

</html>