<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body style="background-color:  #232323;">
    <% layout("/layouts/boilerplate") %>
        <script src="https://kit.fontawesome.com/03ac2c0258.js" crossorigin="anonymous"></script>

        <!--Section-1: Introduction-->
        <section id="introduction" class="section-1">
            <div class="container-1">
                <div class="intro-content">
                    <p><b>Welcome to</b></p>
                    <h1>Zaika Zunction</h1>
                    <p><b>Your go-to platform for quick, reliable, and delicious food deliveries!</b></p>
                </div>
                <div class="intro-image-box">
                    <div class="intro-img-container">
                        <img  id="intro"  src="../../uploads/intro.png" alt="">
                    </div>
                </div>

            </div>
        </section>

        <!--Section-2: Mission-->
        <section id="mission" class="section-2">
            <div class="container-2">.
                <div class="delivery-image">
                    <img id="man-delivering" src="../../uploads/delivery icon.png" alt="man delivering">
                </div>
                <div class="our-mission">
                    <h1>Our Goal Is To Make Delivery Easy For You</h1>
                    <p><b>We connect you with your favorite restaurants and ensure that every meal is delivered fresh,
                            fast, and at your convenience.</b></p>
                </div>
            </div>
        </section>

        <!--Section-3: Key Features-->
        <section class="section-3" id="key-features">
            <div class="container-3">
                <div class="feature" id="fast-delivery"><i class="fa-solid fa-truck"></i>
                    <h3>Fast Delivery</h3>
                    <p>Get your food delivered to your doorstep in record time.</p>
                </div>
                <div class="feature" id="discounts"><i class="fa-solid fa-percent"></i>
                    <h3>Regular Discounts</h3>
                    <p>Enjoy great savings with regular discounts and exclusive offers.</p>
                </div>
                <div class="feature" id="food-variety"><i class="fa-solid fa-utensils"></i>
                    <h3>Variety Of Food</h3>
                    <p>From local favorites to international cuisines, explore a wide variety of food options that cater
                        to all tastes and preferences.</p>
                </div>
                <div class="feature" id="payment"><i class="fa-regular fa-credit-card"></i>
                    <h3>Easy Payment Options</h3>
                    <p>Make payments with ease using multiple payment options, including credit cards, digital wallets,
                        and cash on delivery.</p>
                </div>
            </div>
        </section>


        <!--Section-4: Working-->
        <section id="working" class="section-4">
            <div class="container-4">
                <div class="working-process">
                    <h1>How It Works?</h1>
                    <p><b>Getting started is simple! Just download our app, login/signup, browse foods and restaurants
                            you like, place an order, and sit back while we deliver it to your doorstep. Track your
                            order in real-time and enjoy seamless payment options.</b></p>
                </div>
                <div class="working-image">
                    <img id="working" src="../../uploads/working.jpeg" alt="working-Of-Application">
                </div>
            </div>
        </section>

        <br>
        <br>
        <br><br>
        <br>
        <!--Section-5: Our Team-->
        <section id="our-team" class="section-5">
            <div class="container-5">
                <div class="team-members">
                    <div class="members-image">
                        <img src="#">
                    </div>
                    <h3 class="members-name">Aditya Khare</h3>
                    <div class="members-socials">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
                <div class="team-members">
                    <div class="members-image">
                        <img src="#">
                    </div>
                    <h3 class="members-name">Apurva Gupta</h3>
                    <div class="members-socials">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
                <div class="team-members">
                    <div class="members-image">
                        <img src="#">
                    </div>
                    <h3 class="members-name">Deepali Bisht</h3>
                    <div class="members-socials">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
                <div class="team-members">
                    <div class="members-image">
                        <img src="#">
                    </div>
                    <h3 class="members-name">Medini Joshi</h3>
                    <div class="members-socials">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
                <div class="team-members">
                    <div class="members-image">
                        <img src="#">
                    </div>
                    <h3 class="members-name">Sarthak Shishodia</h3>
                    <div class="members-socials">
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>

</html>